<!DOCTYPE html>
<html lang="kr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ko.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{../../css/common.css}"/>
    <title>To Do List</title>
</head>
<body>

<div id="myDIV" class="header container">
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="button **is-large is-focused is-success is-rounded**"
          th:onclick="addtask()">Add</span>
</div>
<div class="container">
    <div class="panel-group" id="accordion">
        <div id="coll" class="panel panel-default">

        </div>
    </div>
</div>
<div class="container">

</div>

<div id="alertModal" class="modal fade" style="z-index: 9999;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <form autocomplete="off">
                    <div class="form-group">
                        <label for="newtitle">제목 수정</label>
                        <input class="form-control" id="newtitle">
                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                    <div class="form-group">
                        <label for="newcontent">내용 수정</label>
                        <input class="form-control" id="newcontent">
                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                    <div class="form-group">
                        <label for="newregdate">시작일 수정</label>
                        <input class="form-control" id="newregdate">
                    </div>
                    <div class="form-group">
                        <label for="newfindate">종료일 수정</label>
                        <input class="form-control" id="newfindate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">수정하기</button>
                <button class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        loadTasks();
    });

    function loadTasks() {
        $("#coll").empty();
        $.ajax({
            url: "/api/tasks",
            type: "get",
            success: function (data) {
                console.log(data.length);
                for (let i = 0; i < data.length; i++) {
                    console.log(data[i].regdate);
                    let coll = $('<div class="panel-heading">\n' +
                        '            <h4 class="panel-title">\n' +
                        '                <span class="delete" onclick="deleteTask(' + data[i].id + ')">X</span><a data-toggle="collapse" data-parent="#accordion" href="#' + data[i].id + '" style="padding-left: 25px">' + data[i].title + '</a>\n' +
                        '            </h4>\n' +
                        '        </div>\n' +
                        '        <div id="' + data[i].id + '" class="panel-collapse collapse">\n' +
                        '            <div class="panel-body">메모: ' + data[i].content + '<button class="btn btn-dark" style="float: right;" onclick="updateTask(' + data[i].id + ')">수정</button> </div>\n' +
                        '            <div class="panel-body">등록일: ' + data[i].regdate.split("T")[0] + '<button class="btn btn-dark" style="float: right;" onclick="updateTask(' + data[i].id + ')">수정</button> </div>\n' +
                        '            <div class="panel-body">언제까지: ' + data[i].findate.split("T")[0] + '<button class="btn btn-dark" style="float: right;" onclick="updateTask(' + data[i].id + ')">수정</button></div>\n' +
                        '        </div>');
                    coll.appendTo($('#coll'))
                }
            },
            error: function (err) {
                if (err.status === 400) {
                    alert("400 Bad Request. 값을 불러올 수 없습니다.");
                } else if (err.status === 500) {
                    alert("500 Internal Server Error. 서버에 문제가 발생했습니다.");
                }
            }
        })
    }

    function addtask() {
        let title = document.getElementById('myInput').value;
        if (title === '') {
            alert("제목을 입력 해 주세요!")
        }
        let data = {
            title: title,
        };
        let jsonData = JSON.stringify(data);
        $.ajax({
            url: "/api/newtasks",
            type: "post",
            data: jsonData,
            async: true,
            contentType: "application/json",
            success: function (data) {
                document.getElementById("myInput").value = "";
                loadTasks();
            },
            error: function (err) {
            }
        })
    }

    function deleteTask(taskid) {
        let id = taskid;
        $.ajax({
            type: 'delete',
            url: '/api/' + id,
            async: true,
            contentType: "application/json",
            success: function (data) {
                console.log('삭제완료');
                document.getElementById("myInput").value = "";
                loadTasks();

            }

        })

    }

    function updateTask(taskid) {
        let id = taskid;
        $('#alertModal').modal('show');
        let title = document.getElementById('newtitle').value;
        console.log(title);
        $.ajax({
            type: 'put',
            url: '/api/update' + id,
            async: true,
            contentType: "application/json",
            success: function (data) {
                console.log('업데이트 완료');
                document.getElementById("myInput").value = "";
                loadTasks();

            }

        })

    }

    /*]]>*/
</script>
</body>
</html>